@model BOSamourai.Arme

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression de l'Arme @Html.DisplayFor(model  => model.Nom)  </h2>

<h3>Etes vous sûr de vouloir supprimer l'Arme?</h3>
<div>
    <h4>Arme</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.ValidationMessageFor(m => m.Nom)
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degats)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Suppression" class="btn btn-default btn-primary" /> |
            @Html.ActionLink("Retour à la liste", "Index",null, new { @class = "btn btn-default btn-success" })
        </div>
    }
</div>
